/*
Types of Elements:
INLINE: An inline element does not start on a new line and only takes up as much width as necessary.
Examples: <span> <a> <img>
BLOCK: A block-level element always starts on a new line and takes up the full width available (stretches out to the left and right as far as it can).
Examples:<div> <h1> - <h6> <p> <form>
*/

/* -----Typography----- */
.content-title {
  font-size: 68px; /* Open sans bold weight */
  font-weight: 700;
  margin: 100px 0 5px 0;
  color: white;
  float: right;
}

.content-subtitle{
  font-size: 35px;
  font-weight: 300; /* Open sans light weight */
  color: white;
  float: right;
}

.light-blue {
  background-color: #1899ad;
}

body {
  background-color: white;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

header {
  width: 100%;
}

  .branding-nav-container {
  width: 100%;
  /* height: 746px; */
  position: fixed;
  background-color: red;
  top: 0;
  margin: 0 auto 0 auto; /* Any element with a width can be centered by setting the left and right margin set to 'auto' */
  height: 100px;
}

.branding-nav-container button{
  float: right;
  width: 205px;
  font-weight: 400;
  font-size: 26px;
  border-radius: 27px;
  border-width: 1px;
  color: #1899ad;
  background-color: white;
  padding: 20px 25px;
}
/* Clearfic back with article inside */
div::after, section::after, header::after, article::after {
  content:" ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;

}

h1 {
  align-items: center;
  font-size: 65px;
  color: white;
}

h3 {
  align-items: center;
  font-size: 30px;
  color: white;
  font-weight: lighter;
  }

.center {
  text-align: center;
}

#logo {
  width: 100px;
  height: 100px;
  padding: 0 0 0 0;
  /* border: 1px solid green */
  position: absolute;
  float: left;
  margin-top: 20px;
}

#logo img {
  max-width: 100%;
}

.main-navigation {
  width: 600px;
  color: white;
  text-transform: uppercase;
  font-size: 14px
  /*height: 100px;
  Original height was 100, subttracted 20 to make new */
  height: 60px;
  float: right;
  padding: 40px 0 0 0;
}

.main-navigation li {
  display: inline-block;
  margin-right: 50px;
}

.header-title-container {
color: white;
width: 530px;
margin: 100px auto;
text-align: left;
font-size: 50px;
line-height: 80px;

}

.header-title-container button {
  width: 205px;
  font-weight: 400;
  font-size: 26px;
  border-radius: 27px;
  border-width: 1px;
  float: left;
  color: #1899ad;
  background-color: white;
  margin: 0px;
  padding: 20px 10px 25px 10px;

}

.hand-iphone {
  background-image: url(../img/Hand-iphone.png);
  background-position: 60% bottom;
  background-repeat: no-repeat;
  height: 1100px;
}

.cardio {
  background-image: url(../img/cardio.png);
  background-position: 30% top;
  background-repeat: no-repeat;
  height: 1100px;
}

.guitar {
  background-image: url(../img/guitar.png);
  background-position: 60% top;
  background-repeat: no-repeat;
  height: 1100px;
}

.weekend {
  background-image: url(../img/guitar.png);
  background-position: 60% top;
  background-repeat: no-repeat;
  height: 1100px;
}




.content-band {
  background-color: #1899ad;
   width: 100%;
   min-height: 540px;
   padding: 100px 0;

}

.column {
  /* this will be an element the live area and centered */
  width: 1060px;
  margin: 0 auto 0 auto;
  border: 1px;
}

.quarter{
width: 25%;
float: left;
}


.third {
width: 33%;
float: left;
min-height: 200px;
}


.half {
width: 50%;
float: left;
}

.twothirds {
background-color: #1899ad;
width: 66%;
float: left;
min-height: 200px;
}

.full {
width: 100%;
float: left;
}

/*inheritance: Any ul inside services-sidebar will have these styles
.services-sidebar ul {
  padding-left: 0;
  list-style-type: none; /*Removes bullet points */
}
/*
.services-sidebar li {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid rgb(90, 105, 130);
}
*/
