/*
Types of Elements:
INLINE: An inline element does not start on a new line and only takes up as much width as necessary.
Examples: <span> <a> <img>
BLOCK: A block-level element always starts on a new line and takes up the full width available (stretches out to the left and right as far as it can).
Examples:<div> <h1> - <h6> <p> <form>
*/

/* -----Typography----- */
.content-title {
  font-size: 55px; /* Open sans bold weight */
  font-weight: 700;
  margin: 5px 0 5px 0;
}

.content-subtitle{
  font-size: 21px;
  font-weight: 300; /* Open sans light weight */
}


body {
  background-color: #ededed;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
font-weight: 400;
}

header {
  color: white;
  width: 100%;
  height: 746px;
  background-image: url(../img/header-home.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

  .branding-nav-container {
  width: 1060px;
  /* height: 746px; */
  margin: 0 auto 0 auto; /* Any element with a width can be centered by setting the left and right margin set to 'auto' */
}

/* Clearfic back with article inside */
div::after, section::after, header::after, article::after {
  content:" ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;

}


#logo {
  width: 200px;
  height: 80px;
  padding: 20px 0 0 0;
  /* border: 1px solid green */
  float: left;

}
.main-navigation {
  width: 600px;
  color: white;
  text-transform: uppercase;
  font-size: 14px
  /*height: 100px;
  Original height was 100, subttracted 20 to make new */
  height: 60px;
  float: right;
  padding: 40px 0 0 0;
}

.main-navigation li {
  display: inline-block;
  margin-right: 50px;
}

.header-title-container {
border: 1px solid white;
width: 1060px;
margin: 200px auto 0 auto;
text-align: center;
font-size: 24px;
line-height: 44px;
}

.content-band {
   width: 100%;
   padding: 50px 0 50px 0;

}

.column {
  /* this will be an element the live area and centered */
  width: 1060px;
  margin: 0 auto 0 auto;
  border: 1px;
}

.quarter{
width: 25%;
float: left;
}


.third {
width: 33%;
float: left;
min-height: 200px;
}


.half {
width: 50%;
float: left;
}

.twothirds {
width: 66%;
float: left;
min-height: 200px;
}

.full {
width: 100%;
float: left;
}

/*inheritance: Any ul inside services-sidebar will have these styles */
.services-sidebar ul {
  padding-left: 0;
  list-style-type: none; /*Removes bullet points */
}

.services-sidebar li {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid rgb(90, 105, 130);
}
